<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body class="antialiased font-sans bg-gray-200">
        <div class="flex flex-row">
            {{ include('partials/_sidebar.html.twig') }}
            <div class="main-content flex-1 mx-auto px-8 py-20">
                {% block body %}{% endblock %}
                {% block javascripts %}
                {{ encore_entry_script_tags('app') }}
                {% endblock %}
            </div>
        </div>
    </body>
</html>
